{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>YumTiffin | Home Page </title>
    {{!-- <link rel="icon" href="../images/Haha.png" type="image/x-icon"> --}}
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 10%;
}
</style>
</head>

<body>
    {{>loggedInNav}}
   
    <div class="main-container">
        {{!-- <h1> <a href="https://github.com/jashkarangiya" target="_blank"> Hello from Jash Karangiya</a></h1> --}}
        <h2>Tiffin Services</h2>
    <div class="row">
  <div class="column">
    <div class="card">
      <h3>Card 1</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Card 2</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 3</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 4</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>
    <div class="row">
  <div class="column">
    <div class="card">
      <h3>Card 5</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Card 6</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 7</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 8</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>
    <div class="row">
  <div class="column">
    <div class="card">
      <h3>Card 9</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Card 10</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 11</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
 <a href="/secret">
  <div class="column">
    <div class="card">
      <h3>Card 12</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
   </a>

  <div class="row">
  <div class="column">
    <div class="card">
      <h3>Card 13</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Card 14</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 15</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Card 16</h3>
      <p>Some text</p>
      <p>Some text</p>
    </div>
  </div>
</div>
 
</div>
   
    
</body>

</html> --}}