<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>YumTiffin | Landing Page </title>
    {{!-- <link rel="icon" href="../images/Haha.png" type="image/x-icon"> --}}
    <style>
        body {
  font-family: Arial, Helvetica, sans-serif;
}
    </style>
</head>

<body>
    {{>navbar}}
   
<div class="main-container">
        {{!-- <h1> <a href="https://github.com/jashkarangiya" target="_blank"> Hello from Jash Karangiya</a></h1> --}}
        <h2>This would be our landing page</h2>
    </div>
   
    
</body>

</html>