<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <div class="main-container">
           
           <h2>Profile</h2>
           Name:<label for="Name" id="namee" name="namee"> {{post.firstName}} - {{post.lastName}} </label> <br>
           Phone Number:<label for="phoneNumber" id="phoneNumber" name="phoneNumber"> {{post.phoneNumber}} </label> <br>
           E-mail:<label for="email" id="email" name="email"> {{post.email}} </label>
           
    
</body>

</html>