<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>YumTiffin | Secret </title>
    {{!-- <link rel="icon" href="../images/Haha.png" type="image/x-icon"> --}}
</head>

<body>
    {{>navbar}}
   
<div class="main-container">
        <h1> <a href="https://github.com/jashkarangiya" target="_blank"> Hello from Jash Karangiya</a></h1>
        <h2>Secret page</h2>
    </div>
   
    
</body>

</html>