<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>YumTiffin | Login</title>
</head>
<body>
    {{>navbar}}
    <div class="main-container">
        <h1>This would be our Login Page page</h1>
    </div>
</body>
</html>