.cart-table {
    text-align: left;
}

.cart-table-prd:first-of-type {
    padding-top: 30px;
}

.textcenter {
    color: orange;
    font-weight: 700;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 40px;
    overflow-y: hidden;
    text-align: center;
}

#h2 {
    background-color: transparent;
    text-align: initial;
}

.cart-table-prd {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 90%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    padding-left: 15px;
    border-radius: 15px;
    padding-right: 15px;
}

.cart-table-prd-image {
    width: 145px;
}

.cart-table-prd>* {
    display: table-cell;
    vertical-align: middle;
}

.cart-table-prd-action>a {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    color: #27c7d8;
    text-decoration: none;
}

.cart-table-prd-action {
    width: 140px;
    padding-left: 20px;
}

.cart-table-prd-price,
.cart-table-prd-qty {
    font-size: 11px;
    line-height: 18px;
    color: #424242;
    text-transform: uppercase;
}

.cart-table-prd-price {
    width: 15%;
    display: table-cell;
    vertical-align: middle;
}

.cart-table-prd-name h5,
.cart-table-prd-name h5 a {
    font-size: 22px;
    line-height: 1.2em;
    color: #424242;
    font-weight: 700;
    position: absolute;
    top: 10%;
    overflow-y: hidden;
    margin-bottom: 10px;
}

#ft {
    font-size: 12px;
}

.cart-table-prd-name h2,
.cart-table-prd-name h2 a {
    font-size: 16px;
    line-height: 1.6em;
    color: #000;
    text-transform: lowercase;
    text-decoration: none;
    margin-bottom: 1px;
}

#s {
    font-size: 14px;
}

#rupees {
    height: 13px;
}

#rupeess {
    height: 22px;
}

#qr {
    width: 23%;
    margin: auto;
    height: 470px;
}

#stp {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

#qrcode {
    height: 300px;
}

#pay {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
    margin: 10px;
    border-radius: 12px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.btn,
.btn:active,
.btn:active:focus,
.btn:focus,
.btn:visited {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: orange;
    color: white;
}

#continue {
    padding: 14px;
}

.btn3 {
    padding: 10px 22px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: orange;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    padding: 13px;
    text-align: end;
    border: 0;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    transition: all .2s ease;
}

.btn--lg {
    padding: 16px 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    width: 100%
}

.card-total {
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
    margin-top: 20px;
    overflow-y: hidden;
}

.sidebar-block .card-total:not(:only-child) {
    margin-bottom: 15px;
}

.sidebar-block {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #f7f7f7;
    position: relative;
}

.sidebar-block .sidebar-block_title {
    padding: 20px 45px 20px 0;
}

.sidebar-block_title {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    line-height: 1.333em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

.cart-table-prd:first-of-type {
    padding-top: 15px;
}

.img-fluid {
    height: 130px;
    margin-right: 30px;
    border-radius: 15px;
    width: 130px;
}

.btn3:hover {
    background-color: white;
    border: orange solid 1px;
    color: orange;
}

.row {
    justify-content: end;
    margin-right: 52px;
}