.review_title
{
    padding-top: 70px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 90px;
    position: relative;
    display: flex;
    justify-content: center;

}
.review_italic
{
    font-style: italic;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    letter-spacing:4px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    color: #FF8810;
}

.review_regular
{
   font-weight: 200;
    font-size: 36px;
    text-align: center;
    letter-spacing:4px;
    padding-top: 22px;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    color: white;
}
