#explore_button
{
    margin-top: 70px;
    margin-left: 200px;
    font-size: 24px;
    border-radius: 30px;
    padding: 10px 40px;
    background-color: #FF8810;
    border: none;
    margin-bottom: 170px;
    
}