.input-control
{
    text-align: center;
}

.main
{
    background: url('../images/thali.jpeg') no-repeat ;
    background-size: 100%;
}
.logincontainer
{

    width: 35%;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 38px;
    margin-bottom: 60px;
    padding: 50px;
    

}


.wrapper
{
    padding: 0;
}

#text-large
{
    font-size: 32px;
    overflow-y: hidden;
    text-align: center;
}

#Login-heading
{
    font-size: 22px;
    margin-bottom: 30px;
}

#login-label
{
    margin-bottom: 3px;
    text-align: initial;
    font-size: 14PX;
}

#email
{
    width: 100%;
    margin-bottom: 20px;
    font-size: 13px;
    padding: 10px 3px;
    background: url('../images/envelope.png') no-repeat  2% 50% ;
    padding-left:30px;
    border: 1px solid gray;
    border-radius: 2px;

   
}

#password
{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 3px;
    border: 1px solid gray;
    border-radius: 2px;
    background: url('../images/locked-computer.png') no-repeat  2% 50% ;
    font: small-caption;
    font-size: 13px;
    padding-left:30px;
}

.input-submit
{
    width: 100%;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 23px;
    border: none;
    padding: 7px;
    margin-bottom: 15px;
}

.method-control1
{
    margin: 5px 5px 25px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 23px;
    border: none;
    padding: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: url('../images/google.png') no-repeat  27% 50% ;
    
}
.method-control2
{

    margin: 5px 5px 25px 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 23px;
    border: none;
    padding: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: url('../images/old-typical-phone.png') no-repeat  20% 50% ;
}


.input-control-fgpass
{
    text-align: end;
    font-size: 14px;
    margin-bottom: 20px;
}

.striped
{
    color: gray;
    margin-bottom: 20px;
}

.method-action
{
    color: gray;
    text-decoration: none;
}

.method-action:hover
{
    color: orange;
    
}